// variables
@import "fonts.less";
@import "images.less";
@import "variables.less";

@import "sprites.less";

@import "../../bowerBuild/less/bootstrap/bootstrap.less";
@import "../../bowerBuild/less/font-awesome/font-awesome.less";

body{
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: 'minotaurphatte';
  src: url('@{font-minotaur-webfont_eot}');
  src: url('@{font-minotaur-webfont_eot}') format('embedded-opentype'),
  url('@{font-minotaur-webfont_woff}') format('woff'),
  url('@{font-minotaur-webfont_ttf}') format('truetype'),
  url('@{font-minotaur-webfont_svg}') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksandregular';
  src: url('@{font-quicksand-regular-webfont_eot}');
  src: url('@{font-quicksand-regular-webfont_eot}') format('embedded-opentype'),
  url('@{font-quicksand-regular-webfont_woff}') format('woff'),
  url('@{font-quicksand-regular-webfont_ttf}') format('truetype'),
  url('@{font-quicksand-regular-webfont_svg}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontQuickSand{
  font-family: 'quicksandregular';
}

.fontMinotaur{
  font-family: 'minotaurphatte';
}

#unitTests{
  position: fixed;
  z-index: 9999;
  right: 0px;
}

.metaData{
  display: none;
}

.debugPanel {
	position: absolute; 
	top: 0px;
	color: #fff;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
